.main {
}
/**banner*/
.main .banner {
	position: relative;
	min-width: 1024px;
	width:100%;
	height:auto;
	margin: 0 auto;
	background-color:#A7A7A7;
	overflow: hidden;
	*zoom: 1;
}

.banner .banner-con{
	position: relative;
	min-width: 1024px;
	width:100%;
	height: 450px;
	margin: 0px auto;
} 

.banner .banner-con .banner-item {
	min-width: 1024px;
	width:100%;
	height: 450px;
	display: none;
}

.banner .rolling-nav {
	position: absolute;
	width: 100%;
	height: 16px;
	left: 45%;
	bottom: 10px;
	text-align: left;
	z-index: 3;
}
.banner .rolling-nav a {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 2px;
	outline: 0;
	background-image: url("../imgs/banner-dot.png");
	background-position: 0 -26px;
	background-repeat: no-repeat;
}

.banner .rolling-nav a.active {
	background-position: 0 -1px;
}

.main .publicitys{
  position: relative;
  width: 1024px;
  min-height: 800px;
  margin: 0 auto;
  overflow: hidden;
  padding: 60px 0 60px 0;
  background: #FFF;
}

.publicitys .title {
	position:relative;
	width:1024px;
	height:48px;
	text-align: left;
	line-height:48px;
	font-size:22px;
	border-bottom: 1px solid #D3D3D3;
}

.conts .line-item {
	position: relative;
	width:1024px;
	height:auto;
	padding: 45px 0 56px;
	border-bottom:1px solid #ddd;
}
.conts .line-item:last-child {
	border-bottom:0px solid #ddd;
}

.conts .line-item .pic-cont {
	float:left;
	width: 250px;
  	height: 308px;
}
.line-item .pic-cont img{
	width: 250px;
  	height: 308px;
}
 .line-item .text-cont{
	float:right;
	width:740px;
  	height: 308px;
}

 .line-item .text-cont ul{
    position: absolute;
    top: 25px;
}
    
.line-item .text-cont ul li {
	width:740px;
	height:auto;
	border-bottom:1px dashed #ddd;
}

.line-item .text-cont ul li:last-child {
	border-bottom:0px dashed #ddd;
}

.line-item .text-cont ul li a{
	width:740px;
    height: 56px;
    line-height: 56px;
 	font-size:16px;
	color: #333;
}


.line-item .text-cont ul li a span.pubdate{
	text-align: right;
	float:right;
	color: #999;
	font-size: 12px;
}

.line-item .text-cont ul li a:hover{
	text-decoration: underline;
	color:#3a4355;
}

