{% extends "spindex.html" %}

{% block content %}

<div class="container-fluid">

<h2 align="center">视频管理</h2>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  新增视频
</button>
<hr/>
<div class="bs-example" data-example-id="hoverable-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>标题</th>
          <th>地址</th>
          <th>状态</th>
          <th>描述</th>
        </tr>
      </thead>
      <tbody>
        {% for data in datas %}
        <tr>
          <th scope="row">{{data.id}}</th>
          <td>{{data.title}}</td>
          <td><a href="/static/media/shipin/{{data.path}}" target="blank">{{data.path}}</a></td>
          <td>{{data.status}}</td>
          <td>{{data.desc}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>

<div >
     总页数：{{total}}
     <ul class="pagination">
       {% for i in range(total) %}
            {%if i == num %}
       <li>
         <a style="color:red" href="/admin/addshipin/{{i}}?title={{title}}&status={{status}}">{{i+1}}</a>
       </li>
       {% elif i> (num-10) and i< (num+10)%}
              <li>
         <a href="/admin/addshipin/{{i}}?title={{title}}&status={{status}}">{{i+1}}</a>
       </li>
       {% endif %}
          {% endfor %}
     </ul>
   </div>


  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">增加视频文件(文件命中不要有‘-’和‘.’)</h4>
      </div>
      <div class="modal-body">
       <form id="formshipin" class="form-horizontal" action="/admin/uploadfile/" method="post" enctype="multipart/form-data">
      <div class="form-group">
          <label for="desc" class="col-sm-2 control-label">标题</label>
          <div class="col-sm-10">
            <input type="input" class="form-control" id="title" name="title" ></div>
        </div>
        <div class="form-group">
          <label for="desc" class="col-sm-2 control-label">描述</label>
          <div class="col-sm-10">
            <input type="input" class="form-control" id="desc" name="desc" ></div>
        </div>
        <div class="form-group">
          <label for="desc" class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <input id="file" name="file" class="btn" type="file" />
            <input name="ftype" value="2"  type="hidden" />
            <!-- <input type="submit" class="btn btn-success" name="Submit" value="增加封面图片" /> -->
          </div>
        </div>
      </form> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="addshipin_btn">保存</button>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
  $(document).ready(function(){

    $("#addshipin_btn").click(function(){
        $("#formshipin").submit();
    });

  });
</script>
{% endblock %}
