<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>upload file</title>
    <script type="text/javascript" src="/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-responsive.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/docs.css" media="screen" />
</head>
<body>
    <div class="bs-docs-grid">
        <form action="uploadfile" method="post" enctype="multipart/form-data">
          <input name="filename" class="btn btn-primary" type="file" />
          <input type="submit" class="btn btn-success" name="Submit" value="上传" />
        </form>
    </div>    
</body>
</html>