{% extends "main.html" %}

{% block content %}
 <!-- <link rel="stylesheet" type="text/css" id="theme" href="/static/css/theme-default.css"/>  -->
<!-- <link rel="stylesheet" type="text/css" href="/static/css/demo.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="/static/css/style_lunbo.css" /> -->


<div class="container">
	<div class="row">
	  <!-- <div class="col-md-1">.col-md-4</div> -->
	  <div class="col-md-12">
		<div style="margin-top:20px;">
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">四平新闻</a></li>
		    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">在你身边</a></li>
		    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">县市区新闻</a></li>
		    <li role="presentation" style="float:right;"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" style="font-size:10pt;padding-top:15px;color:#999999;">MORE>></a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home" >
			<div class="container-fluid" style="margin-top:40px;margin-left:-10px;">
			  <div class="row" style="height:116px;">
			    	<div class="col-md-4">
			    		<div>
				    		<video id="my-video" class="video-js" controls preload="auto" width="360" height="290"
						  poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
						    <source src="/static/media/43.flv" type='video/flv'>
						    <p class="vjs-no-js">
						      To view this video please enable JavaScript, and consider upgrading to a web browser that
						      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
						    </p>
						  </video>
			    		</div>
			    		<div>
			    			<p style="font-size:14pt;margin-top:30px;">王宇到二次供水改造工程现场办公</p>
			    			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;撒旦法来个；啊多久噶几个了卡机打个；啦睡觉到路公交adsl感觉啊速度快了估计啊；打暑假工拉丝机大家跟；拉倒就管理科</p>
			    			<p style="float:right;">2015-11-27</p>
			    		</div>

			    	</div>
			    	<div class="col-md-8">
					<div class="row" style="margin-left:10px;">
					  <div class="col-md-4">
					  	<img src="/static/images/1.jpg" width="180px" height="120px">
					  </div>
					  <div class="col-md-8">
					  	<p style="font-size:12pt;">王宇到二次供水改造工程现场办公</p>
			    			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;撒旦法来个；啊多久噶几个了卡机打个；啦睡觉到路公交adsl感觉啊速度快了估计啊；打暑假工拉丝机大家跟；拉倒就管理科</p>
			    			<p style="float:right;">2015-11-27</p>
					  </div>
					</div>
					  <hr  style="border-top:1px dashed #cccccc;height: 1px;overflow:hidden;"/>
					<div class="row" style="margin-left:10px;">
					  <div class="col-md-4">
					  	<img src="/static/images/3.jpg" width="180px" height="120px">
					  </div>
					  <div class="col-md-8">
					  	<p style="font-size:12pt;">王宇到二次供水改造工程现场办公</p>
			    			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;撒旦法来个；啊多久噶几个了卡机打个；啦睡觉到路公交adsl感觉啊速度快了估计啊；打暑假工拉丝机大家跟；拉倒就管理科</p>
			    			<p style="float:right;">2015-11-27</p>
					  </div>
					</div>
					<hr  style="border-top:1px dashed #cccccc;height: 1px;overflow:hidden;"/>
					<div class="row" style="margin-left:10px;">
					  <div class="col-md-4">
					  	<img src="/static/images/2.jpg" width="180px" height="120px">
					  </div>
					  <div class="col-md-8">
					  	<p style="font-size:12pt;">王宇到二次供水改造工程现场办公</p>
			    			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;撒旦法来个；啊多久噶几个了卡机打个；啦睡觉到路公交adsl感觉啊速度快了估计啊；打暑假工拉丝机大家跟；拉倒就管理科</p>
			    			<p style="float:right;">2015-11-27</p>
					  </div>
					</div>
			    	</div>
			  </div>
			</div>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="profile">...</div>
		    <div role="tabpanel" class="tab-pane" id="messages">...</div>
		    <div role="tabpanel" class="tab-pane" id="settings">...</div>
		  </div>
		</div>
	  </div>
	  <!-- <div class="col-md-1">.col-md-4</div> -->
	</div>

	<div class="row" style="margin-top:70px;">
	 	<!-- <div class="col-md-1">.col-md-4</div> -->
	  	<div class="col-md-6">
		  	<p style="margin-bottom: 0px;">
		  		<a href="" style="font-size:14pt;font-weight:bold;text-decoration:none;">四平公告/<span style="color:#999999;font-size:10pt;">AFFICHE</span></a>
		  		<span class="more">
		  		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MORE>>
		  		</span>
		  	</p>
		  	<hr  style="height:1px;border:none;border-top:1px solid #999999;"/>
			<p style="margin-top:40px;margin-bottom:20px">
		  		<a href="" style="font-size:10pt;text-decoration:none;">点赞吉林，弘扬社会正能量 手机投票</a>
		  		<a href="" style="float:right;text-decoration:none;">2015-11-13</a>
		  	</p>
		  	<hr  style="border-top:1px dashed #cccccc;height: 1px;overflow:hidden;text-decoration:none;"/>
			<p style="margin-top:20px;margin-bottom:20px">
		  		<a href="" style="font-size:10pt;text-decoration:none;">点赞吉林，弘扬社会正能量 手机投票</a>
		  		<a href="" style="float:right;text-decoration:none;">2015-11-13</a>
		  	</p>
		  	<hr  style="border-top:1px dashed #cccccc;height: 1px;overflow:hidden;"/>
		  	<p style="margin-top:20px;margin-bottom:20px">
		  		<a href="" style="font-size:10pt;text-decoration:none;">点赞吉林，弘扬社会正能量 手机投票</a>
		  		<a href="" style="float:right;text-decoration:none;">2015-11-13</a>
		  	</p>
		  	<hr  style="border-top:1px dashed #cccccc;height: 1px;overflow:hidden;"/>
		  	<p style="margin-top:20px;margin-bottom:20px">
		  		<a href="" style="font-size:10pt;text-decoration:none;">点赞吉林，弘扬社会正能量 手机投票</a>
		  		<a href="" style="float:right;text-decoration:none;">2015-11-13</a>
		  	</p>
		  	<hr  style="border-top:1px dashed #cccccc;height: 1px;overflow:hidden;"/>
		  	<p style="margin-top:20px;margin-bottom:20px">
		  		<a href="" style="font-size:10pt;text-decoration:none;">点赞吉林，弘扬社会正能量 手机投票</a>
		  		<a href="" style="float:right;text-decoration:none;">2015-11-13</a>
		  	</p>
		  	<hr  style="border-top:1px dashed #cccccc;height: 1px;overflow:hidden;"/>
	  	</div>
	  	<div class="col-md-6">
			<p style="margin-bottom: 0px;">
		  		<a href="" style="font-size:14pt;font-weight:bold;text-decoration:none;">专栏宣传/<span style="color:#999999;font-size:10pt;">PUBLICITY</span></a>
		  		<span class="more">
		  		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MORE>>
		  		</span>
		  	</p>
		  	<hr  style="height:1px;border:none;border-top:1px solid #999999;"/>
		  	<img src="/static/images/5.jpg" width="500px" height="300px">
	  	</div>
	  </div>

	<div class="row" style="margin-top:70px;">
	 	<!-- <div class="col-md-1">.col-md-4</div> -->
	  	<div class="col-md-12">
		  	<p style="margin-bottom: 0px;">
		  		<a href="" style="font-size:14pt;font-weight:bold;text-decoration:none;">精品栏目/<span style="color:#999999;font-size:10pt;">COLUMN</span></a>
		  		<span class="more">
		  		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MORE>>
		  		</span>
		  	</p>
		  </div>
		 <div class="row">
			 <div class="col-md-12">
				  <div class="col-md-3">
				  	<img src="/static/images/7.jpg" width="240" height="160">
				  	<p>大二号的诚实爱大家噶就d大调</p>
				  </div>
				  <div class="col-md-3">
				  	<img src="/static/images/7.jpg" width="240" height="160">
				  	<p>大二号的诚实爱大家噶就d大调</p>
				  </div>
				  <div class="col-md-3">
				  	<img src="/static/images/7.jpg" width="240" height="160">
				  	<p>大二号的诚实爱大家噶就d大调</p>
				  </div>
				  <div class="col-md-3">
				  	<img src="/static/images/7.jpg" width="240" height="160">
				  	<p>大二号的诚实爱大家噶就d大调</p>
				  </div>
		 	</div>
		</div>
	</div>



<div class="row">
	  <!-- <div class="col-md-1">.col-md-4</div> -->
	  <div class="col-md-12">
		<div style="margin-top:20px;">
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#home3" aria-controls="home3" role="tab" data-toggle="tab">视频栏目</a></li>
		    <li role="presentation"><a href="#messages3" aria-controls="messages3" role="tab" data-toggle="tab">电台栏目</a></li>
		    <li role="presentation"><a href="#profile3" aria-controls="profile3" role="tab" data-toggle="tab">精品栏目</a></li>
		    <li role="presentation" style="float:right;"><a href="#settings3" aria-controls="settings3" role="tab" data-toggle="tab" style="font-size:10pt;padding-top:15px;color:#999999;">MORE>></a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home3">
			<div class="container-fluid" style="margin-top:40px;margin-left:-10px;">
			  <div class="row" style="height:116px;">
			    	<div class="col-md-6">
			    		<div>
				    		<video id="my-video2" class="video-js" controls preload="auto" width="560" height="440"
						  poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
						    <source src="/static/media/43.flv" type='video/flv'>
						    <p class="vjs-no-js">
						      To view this video please enable JavaScript, and consider upgrading to a web browser that
						      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
						    </p>
						  </video>
			    		</div>
			    		<div>
			    			<p style="font-size:14pt;margin-top:30px;">王宇到二次供水改造工程现场办公</p>
			    			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;撒旦法来个；啊多久噶几个了卡机打个；啦睡觉到路公交adsl感觉啊速度快了估计啊；打暑假工拉丝机大家跟；拉倒就管理科</p>
			    			<p style="float:right;">2015-11-27</p>
			    		</div>

			    	</div>
			    	<div class="col-md-6" style="padding-left:30px;">
					<div class="row" style="margin-left:10px;">
					  <div class="col-md-6">
					  	<img src="/static/images/1.jpg" width="240px" height="180px">
					 
					  	<p style="font-size:12pt;">王宇到二次供水改造</p>
			    			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;撒旦法来个；啊多久噶几个了卡机打个；拉倒就管理科</p>
			    			<span style="float:right;">2015-11-27</span>
					  </div>
					  <div class="col-md-6">
					  	<img src="/static/images/3.jpg" width="240px" height="180px">
					
					  	<p style="font-size:12pt;">王宇到二次供水改造</p>
			    			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;撒旦法来个；啊多久噶几个了卡机打个；拉倒就管理科</p>
			    			<span style="float:right;">2015-11-27</span>
					  </div>
					</div>
					<hr  style="border-top:1px dashed #cccccc;height: 1px;overflow:hidden;"/>
			    	</div>
			    	<div class="col-md-6" style="padding-left:30px;">
					<div class="row" style="margin-left:10px;">
					  <div class="col-md-6">
					  	<img src="/static/images/1.jpg" width="240px" height="180px">
					 
					  	<p style="font-size:12pt;">王宇到二次供水改造</p>
			    			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;撒旦法来个；啊多久噶几个了卡机打个啦;睡觉到路公交adsl感觉啊速度快了估计啊；打暑假工拉丝机大家跟；拉倒就管理科</p>
			    			<span style="float:right;">2015-11-27</span>
					  </div>
					  <div class="col-md-6">
					  	<img src="/static/images/3.jpg" width="240px" height="180px">
					
					  	<p style="font-size:12pt;">王宇到二次供水改造</p>
			    			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;撒旦法来个；啊多久噶几个了卡机打个；啦睡觉到路公交adsl感觉啊速度快了估计啊；打暑假工拉丝机大家跟；拉倒就管理科</p>
			    			<span style="float:right;">2015-11-27</span>
					  </div>
					</div>
					<hr  style="border-top:1px dashed #cccccc;height: 1px;overflow:hidden;"/>
			    	</div>
			  </div>
			</div>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="profile3">...</div>
		    <div role="tabpanel" class="tab-pane" id="messages3">...</div>
		    <div role="tabpanel" class="tab-pane" id="settings3">...</div>
		  </div>
		</div>
	  </div>
	  <!-- <div class="col-md-1">.col-md-4</div> -->
	</div>

</div>



<script type="text/javascript">
	$(document).ready(function(){

		$('#myCarousel').carousel('cycle');
	
	});

</script>
{% endblock %}