{% extends "main.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>&nbsp;</p>
		</div>
	  	<div class="col-md-12">
		  	
		  	<p style="margin-bottom: 0px;">
		  		<a href="" style="font-size:14pt;font-weight:bold;text-decoration:none;">四平新闻/<span style="color:#999999;font-size:10pt;">SIPING NEWS</span></a>
		  	</p>
		  </div>
	 	<div class="col-md-12">
			<p>
				<hr  style="height:1px;border:none;border-top:1px solid #cccccc;"/>
			</p>
		</div>
		 <!-- <div class="row"> -->
		 <div class="col-md-12">
			  <div class="col-md-3">
			  	<img src="/static/images/7.jpg" width="200" height="120">
			  </div>
			  <div class="col-md-9">
			  	<div class="row">
			  		<div class="col-md-12">
			  			<p>近日，副市长王宇同志啥啊多久放辣椒个；阿杜进赶快；垃圾的骄傲的刷卡；邓丽君噶可怜更何况；大使馆卡 啊多高卡觉得；开个价阿里噶可怜价格卡拉电话费噶快点是风格爱的感觉阿卡丽； 接啊快乐；电视剧噶可怜更克拉几个；苦辣韩国卡卡老公卡了；拉开会公开；拉黑给卡号卡了；轧空；了嘎哈可怜噶；考虑过安徽噶；</p>
			  		</div>
					  <div class="col-md-12" style="margin-top:40px;">
<!-- 						  	<div class="col-md-1">
					  	分享到：
					  	</div>	 -->
					  	<div class="col-md-6">
					  		<!-- JiaThis Button BEGIN -->
							<div class="col-md-3">分享到：</div>
							<div class="jiathis_style_24x24 col-md-9" style="margin-left:-20px;" >
								<a class="jiathis_button_qzone"></a>
								<a class="jiathis_button_tsina"></a>
								<a class="jiathis_button_tqq"></a>
								<a class="jiathis_button_weixin"></a>
								<a class="jiathis_button_renren"></a>
								<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
							</div>
							<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
							<!-- JiaThis Button END -->
					  	</div>
					  	<div class="col-md-6">
					  		<p align="right">
					  			1123次观看  &nbsp; 来源：四平广播电视台 &nbsp;网络编辑：高飞
					  		</p>
					  	</div>
					  </div>
			  	</div>
			  </div>
	 	</div>
		<div class="col-md-12">
			<p>
				<hr  style="height:1px;border:none;border-top:1px solid #cccccc;"/>
			</p>
		</div>

	 	 <div class="col-md-12">
			  <div class="col-md-3">
			  	<img src="/static/images/7.jpg" width="200" height="120">
			  </div>
			  <div class="col-md-9">
			  	<div class="row">
			  		<div class="col-md-12">
			  			<p>近日，副市长王宇同志啥啊多久放辣椒个；阿杜进赶快；垃圾的骄傲的刷卡；邓丽君噶可怜更何况；大使馆卡 啊多高卡觉得；开个价阿里噶可怜价格卡拉电话费噶快点是风格爱的感觉阿卡丽； 接啊快乐；电视剧噶可怜更克拉几个；苦辣韩国卡卡老公卡了；拉开会公开；拉黑给卡号卡了；轧空；了嘎哈可怜噶；考虑过安徽噶；</p>
			  		</div>
					  <div class="col-md-12" style="margin-top:40px;">
<!-- 						  	<div class="col-md-1">
					  	分享到：
					  	</div>	 -->
					  	<div class="col-md-6">
					  		<!-- JiaThis Button BEGIN -->
							<div class="col-md-3">分享到：</div>
							<div class="jiathis_style_24x24 col-md-9" style="margin-left:-20px;" >
								<a class="jiathis_button_qzone"></a>
								<a class="jiathis_button_tsina"></a>
								<a class="jiathis_button_tqq"></a>
								<a class="jiathis_button_weixin"></a>
								<a class="jiathis_button_renren"></a>
								<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
							</div>
							<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
							<!-- JiaThis Button END -->
					  	</div>
					  	<div class="col-md-6">
					  		<p align="right">
					  			1123次观看  &nbsp; 来源：四平广播电视台 &nbsp;网络编辑：高飞
					  		</p>
					  	</div>
					  </div>
			  	</div>
			  </div>
	 	</div>
		<div class="col-md-12">
			<p>
				<hr  style="height:1px;border:none;border-top:1px solid #cccccc;"/>
			</p>
		</div>
	 	 <div class="col-md-12">
			  <div class="col-md-3">
			  	<img src="/static/images/7.jpg" width="200" height="120">
			  </div>
			  <div class="col-md-9">
			  	<div class="row">
			  		<div class="col-md-12">
			  			<p>近日，副市长王宇同志啥啊多久放辣椒个；阿杜进赶快；垃圾的骄傲的刷卡；邓丽君噶可怜更何况；大使馆卡 啊多高卡觉得；开个价阿里噶可怜价格卡拉电话费噶快点是风格爱的感觉阿卡丽； 接啊快乐；电视剧噶可怜更克拉几个；苦辣韩国卡卡老公卡了；拉开会公开；拉黑给卡号卡了；轧空；了嘎哈可怜噶；考虑过安徽噶；</p>
			  		</div>
					  <div class="col-md-12" style="margin-top:40px;">
<!-- 						  	<div class="col-md-1">
					  	分享到：
					  	</div>	 -->
					  	<div class="col-md-6">
					  		<!-- JiaThis Button BEGIN -->
							<div class="col-md-3">分享到：</div>
							<div class="jiathis_style_24x24 col-md-9" style="margin-left:-20px;" >
								<a class="jiathis_button_qzone"></a>
								<a class="jiathis_button_tsina"></a>
								<a class="jiathis_button_tqq"></a>
								<a class="jiathis_button_weixin"></a>
								<a class="jiathis_button_renren"></a>
								<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
							</div>
							<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
							<!-- JiaThis Button END -->
					  	</div>
					  	<div class="col-md-6">
					  		<p align="right">
					  			1123次观看  &nbsp; 来源：四平广播电视台 &nbsp;网络编辑：高飞
					  		</p>
					  	</div>
					  </div>
			  	</div>
			  </div>
	 	</div>
		<div class="col-md-12">
			<p>
				<hr  style="height:1px;border:none;border-top:1px solid #cccccc;"/>
			</p>
		</div>
	 	 <div class="col-md-12">
			  <div class="col-md-3">
			  	<img src="/static/images/7.jpg" width="200" height="120">
			  </div>
			  <div class="col-md-9">
			  	<div class="row">
			  		<div class="col-md-12">
			  			<p>近日，副市长王宇同志啥啊多久放辣椒个；阿杜进赶快；垃圾的骄傲的刷卡；邓丽君噶可怜更何况；大使馆卡 啊多高卡觉得；开个价阿里噶可怜价格卡拉电话费噶快点是风格爱的感觉阿卡丽； 接啊快乐；电视剧噶可怜更克拉几个；苦辣韩国卡卡老公卡了；拉开会公开；拉黑给卡号卡了；轧空；了嘎哈可怜噶；考虑过安徽噶；</p>
			  		</div>
					  <div class="col-md-12" style="margin-top:40px;">
<!-- 						  	<div class="col-md-1">
					  	分享到：
					  	</div>	 -->
					  	<div class="col-md-6">
					  		<!-- JiaThis Button BEGIN -->
							<div class="col-md-3">分享到：</div>
							<div class="jiathis_style_24x24 col-md-9" style="margin-left:-20px;" >
								<a class="jiathis_button_qzone"></a>
								<a class="jiathis_button_tsina"></a>
								<a class="jiathis_button_tqq"></a>
								<a class="jiathis_button_weixin"></a>
								<a class="jiathis_button_renren"></a>
								<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
							</div>
							<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
							<!-- JiaThis Button END -->
					  	</div>
					  	<div class="col-md-6">
					  		<p align="right">
					  			1123次观看  &nbsp; 来源：四平广播电视台 &nbsp;网络编辑：高飞
					  		</p>
					  	</div>
					  </div>
			  	</div>
			  </div>
	 	</div>
		<div class="col-md-12">
			<p>
				<hr  style="height:1px;border:none;border-top:1px solid #cccccc;"/>
			</p>
		</div>
	 	 <div class="col-md-12">
			  <div class="col-md-3">
			  	<img src="/static/images/7.jpg" width="200" height="120">
			  </div>
			  <div class="col-md-9">
			  	<div class="row">
			  		<div class="col-md-12">
			  			<p>近日，副市长王宇同志啥啊多久放辣椒个；阿杜进赶快；垃圾的骄傲的刷卡；邓丽君噶可怜更何况；大使馆卡 啊多高卡觉得；开个价阿里噶可怜价格卡拉电话费噶快点是风格爱的感觉阿卡丽； 接啊快乐；电视剧噶可怜更克拉几个；苦辣韩国卡卡老公卡了；拉开会公开；拉黑给卡号卡了；轧空；了嘎哈可怜噶；考虑过安徽噶；</p>
			  		</div>
					  <div class="col-md-12" style="margin-top:40px;">
<!-- 						  	<div class="col-md-1">
					  	分享到：
					  	</div>	 -->
					  	<div class="col-md-6">
					  		<!-- JiaThis Button BEGIN -->
							<div class="col-md-3">分享到：</div>
							<div class="jiathis_style_24x24 col-md-9" style="margin-left:-20px;" >
								<a class="jiathis_button_qzone"></a>
								<a class="jiathis_button_tsina"></a>
								<a class="jiathis_button_tqq"></a>
								<a class="jiathis_button_weixin"></a>
								<a class="jiathis_button_renren"></a>
								<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
							</div>
							<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
							<!-- JiaThis Button END -->
					  	</div>
					  	<div class="col-md-6">
					  		<p align="right">
					  			1123次观看  &nbsp; 来源：四平广播电视台 &nbsp;网络编辑：高飞
					  		</p>
					  	</div>
					  </div>
			  	</div>
			  </div>
	 	</div>
		<div class="col-md-12">
			<p>
				<hr  style="height:1px;border:none;border-top:1px solid #cccccc;"/>
			</p>
		</div>
		<!-- </div> -->
		<div class="col-md-12">
			<div style="float:right;">
			<nav>
			      <ul class="pagination">
			        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
			        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
			        <li><a href="#">2</a></li>
			        <li><a href="#">3</a></li>
			        <li><a href="#">4</a></li>
			        <li><a href="#">5</a></li>
			        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
			     </ul>
			   </nav>
			</div>
		</div>
	</div>
</div>

{% endblock %}