<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=8">
<meta name="renderer" content="”webkit|ie-comp|ie-stand”">
<link rel="stylesheet" type="text/css" href="style/css/common.css">
<script type="text/javascript" src="style/js/jquery.js"></script>
<script type="text/javascript" src="style/js/common.js"></script>
<link rel="stylesheet" type="text/css" href="style/css/home.css">
<script type="text/javascript" src="style/js/home.js"></script>
<script type="text/javascript" src="style/js/loginForm.js"></script>
</head>
<body>
	<div class="header">
	 	<div class="header-con">
	 			<div class="logo">
	 				<a class="main-logo" href="#"></a>
	 			</div>	 
	 			<div class="weather">
	 				<iframe width="300" scrolling="no" height="100" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&amp;id=8&amp;icon=1&amp;num=2"></iframe>
	 			</div>
	 			<div class="search">
	 				<div class="sec-log-reg"><a id="loginBtn">登录/注册</a></div>
	 				<form >
	 				<div class="align-right">
	 					<input id="srch1" name="passwordtwo" type="text" 
	 							class="search-input" value="请输入你要搜索的关键字" 
	 							onfocus="if(this.value=='请输入你要搜索的关键字') this.value=''; this.style.color='#333'; return true;" 
	 							onblur="if(this.value=='') this.value='请输入你要搜索的关键字'; this.style.color='#cccccc'; return true;"
	 							style="color: #cccccc;">
		 				<input type="submit" value="搜索" class="search-btn">
	 				</div>
	 				</form>
	 			</div>
	     </div>
	     <div class="wrapper-nav">
	        	<ul class="nav title-font" >
					<li><a id="home" href="#">网站首页</a></li> 
					<li><a id="" href="#">四平新闻</a></li>
					<li><a id="" href="#">在你身边</a></li>
					<li><a id="" href="#">县区新闻</a></li> 
					<li><a id="" href="#">专栏宣传</a></li>
					<li><a id="" href="#">精品栏目</a></li>
					<li><a id="" href="#">活动投票</a></li>
					<li><a id="" href="#">视频展播</a></li>
					<li><a id="" href="#">本地生活</a></li>
		    	</ul>
	     </div>
	</div>
	<div class="main">
		<div class="banner">
				<div class="banner-con">
					<div class="banner-item " style="display: block; background:url(style/imgs/banner0.png) center center no-repeat;"> 
		            </div>	
					<div class="banner-item " style="display: none; background:url(style/imgs/presenter.png) center center no-repeat;">  
		            </div>	
		            <div class="banner-item " style="display: none; background:url(style/imgs/banner0.png) center center no-repeat;"> 
		            </div>	
		            <div class="banner-item " style="display: none; background:url(style/imgs/video.png) center center no-repeat;"> 
		            </div>		
				</div>
		        <div class="rolling-nav">
					<a data-id="0" href="javascript:void(0)" class="active"></a>
					<a data-id="1" href="javascript:void(0)" class=""></a>
					<a data-id="2" href="javascript:void(0)" class=""></a>
					<a data-id="3" href="javascript:void(0)" class=""></a>
				</div>
		</div>
		<!-- 四平新闻 -->
		<div class="row news-row">
			<div class="row-con news-con">
				<div class="tab-tit clearfix">	
					<ul class="tab-nav">
						<li class="current">四平新闻</li>
						<li>在你身边</li>
						<li>县市区新闻</li>
					</ul>
			        <a href="#" class="more" target="_blank">MORE&gt;&gt;</a>
				</div>
				<div class="tab-conts">
					<div class="tab-item">
						<div class="in left">
							<a class=" clearfix">
								<img src="style/imgs/news1.png" alt="news">
								<h3>王宇到二次洪水改造工程线程办公</h3>
								<p class="intro">近日副市长王宇带领市直相关部门负责统治，来到二次洪水改造工程线程进行现场办公，解决工程存在问题，加快工程建设
									<br/><span class="pubdate">2015-10-20</span>
									</p>
								
							</a>
						</div>
						<div class="in right">
							<a>
								<img alt="news" src="style/imgs/news.png">
								<h3>王宇到二次洪水改造工程线程办公</h3>
								<p class="intro">近日，副市长王宇带领市直相关部门负责同志，来到二次供水改造工程现场进行现场办公，解决工程存在问题，加快推进工程建设。
									<span class="pubdate">2015-10-20</span>
									</p>
							</a>
							<a>
								<img alt="news" src="style/imgs/news.png">
								<h3>王宇到二次洪水改造工程线程办公</h3>
								<p class="intro">近日，副市长王宇带领市直相关部门负责同志，来到二次供水改造工程现场进行现场办公，解决工程存在问题，加快推进工程建设。
									<span class="pubdate">2015-10-20</span></p>
							</a>
							<a class="end">
								<img alt="news" src="style/imgs/news.png">
								<h3>王宇到二次洪水改造工程线程办公</h3>
								<p class="intro">近日，副市长王宇带领市直相关部门负责同志，来到二次供水改造工程现场进行现场办公，解决工程存在问题，加快推进工程建设。
									<span class="pubdate">2015-10-20</span>
								</p>
							</a>
						</div>
					</div>
					<div class="tab-item" style="display:none;">
						<div class="in left">
							<a class=" clearfix">
								<img src="style/imgs/news1.png" alt="news">
								<h3>王宇到二次洪水改造工程线程办公</h3>
								<p class="intro">近日副市长王宇带领市直相关部门负责统治，来到二次洪水改造工程线程进行现场办公，解决工程存在问题，加快工程建设</p>
								<p class="pubdate">2015-10-20</p>
							</a>
						</div>
						<div class="in right">
							<a>
								<img alt="news" src="style/imgs/news.png">
								<h3>王宇到二次洪水改造工程线程办公</h3>
								<p class="intro">近日，副市长王宇带领市直相关部门负责同志，来到二次供水改造工程现场进行现场办公，解决工程存在问题，加快推进工程建设。</p>
								<p class="pubdate">2015-10-20</p>
							</a>
							<a>
								<img alt="news" src="style/imgs/news.png">
								<h3>王宇到二次洪水改造工程线程办公</h3>
								<p class="intro">近日，副市长王宇带领市直相关部门负责同志，来到二次供水改造工程现场进行现场办公，解决工程存在问题，加快推进工程建设。</p>
								<p class="pubdate">2015-10-20</p>
							</a>
							<a class="end">
								<img alt="news" src="style/imgs/news.png">
								<h3>王宇到二次洪水改造工程线程办公</h3>
								<p class="intro">近日，副市长王宇带领市直相关部门负责同志，来到二次供水改造工程现场进行现场办公，解决工程存在问题，加快推进工程建设。</p>
								<p class="pubdate">2015-10-20</p>
							</a>
						</div>
					</div>
					<div class="tab-item" style="display:none;">
						<div class="in left">
							<a class=" clearfix">
								<img src="style/imgs/news1.png" alt="news">
								<h3>王宇到二次洪水改造工程线程办公</h3>
								<p class="intro">近日副市长王宇带领市直相关部门负责统治，来到二次洪水改造工程线程进行现场办公，解决工程存在问题，加快工程建设</p>
								<p class="pubdate">2015-10-20</p>
							</a>
						</div>
						<div class="in right">
							<a>
								<img alt="news" src="style/imgs/news.png">
								<h3>3</h3>
								<p class="intro">近日，副市长王宇带领市直相关部门负责同志，来到二次供水改造工程现场进行现场办公，解决工程存在问题，加快推进工程建设。</p>
								<p class="pubdate">2015-10-20</p>
							</a>
							<a>
								<img alt="news" src="style/imgs/news.png">
								<h3>3</h3>
								<p class="intro">近日，副市长王宇带领市直相关部门负责同志，来到二次供水改造工程现场进行现场办公，解决工程存在问题，加快推进工程建设。</p>
								<p class="pubdate">2015-10-20</p>
							</a>
							<a class="end">
								<img alt="news" src="style/imgs/news.png">
								<h3>王宇到二次洪3水改造工程线程办公</h3>
								<p class="intro">近日，副市长王宇带领市直相关部门负责同志，来到二次供水改造工程现场进行现场办公，解决工程存在问题，加快推进工程建设。</p>
								<p class="pubdate">2015-10-20</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 四平公告 -->
		<div class="row notice-row">
			<div class="row-con notice clearfix">
				<div class="part-affiche">
					<div class="title clearfix">
						<h2 class="title-font">
							四平公告
							<span class="tit-slash">/</span>
							<span class="tit-en">DYNAMIC</span>
						</h2>
			            <a href="#" class="more" target="_blank">MORE&gt;&gt;</a>
					</div>
					<div class="content">
						<ul>
							<li><a href="#">点赞吉林-弘扬社会正能量收集摄影大厦</a><span class="time">10-24</span></li>
							<li><a href="#">点赞吉林-弘扬社会正能量收集摄影大厦</a><span class="time">10-24</span></li>
							<li><a href="#">点赞吉林-弘扬社会正能量收集摄影大厦</a><span class="time">10-24</span></li>
							<li><a href="#">点赞吉林-弘扬社会正能量收集摄影大厦</a><span class="time">10-24</span></li>
							<li><a href="#">点赞吉林-弘扬社会正能量收集摄影大厦</a><span class="time">10-24</span></li>
							<li><a href="#">点赞吉林-弘扬社会正能量收集摄影大厦</a><span class="time">10-24</span></li>
						</ul>
					</div>
				</div>
				<div class="part-publicity">
					<div class="title">
						<h2 class="title-font">专栏宣传
							<span class="tit-slash">/</span>
							<span class="tit-en">PUBLICITY</span>
						</h2>
			           <a href="#" class="more" target="_blank">MORE&gt;&gt;</a>
					</div>
					<div class="content">
						<img src="style/imgs/tmp-img.png" style="vertical-align: middle"/>
					</div>
				</div>
			</div>
		</div>
		<!-- 精品栏目 -->
		<div class="row column-row">
			<div class="row-con column">
				<div class="title clearfix">	
					<h2>
						精品栏目
						<span class="tit-slash">/</span>
						<span class="tit-en">COLUMN</span>
					</h2>
			        <a href="#" class="more" target="_blank">MORE&gt;&gt;</a>
				</div>
				<div class="cont clearfix">
					<a class="column-cell">
						<img src="style/imgs/column.png"/>
						<span>带领市直接市负责</span>
					</a>
					<a class="column-cell">
						<img src="style/imgs/column.png"/>
						<span>带领市直接市负责</span>
					</a>
					<a class="column-cell">
						<img src="style/imgs/column.png"/>
						<span>带领市直接市负责</span>
					</a>
					<a class="column-cell end">
						<img src="style/imgs/column.png"/>
						<span>带领市直接市负责</span>
					</a>
				</div>
			</div>
		</div>
		<!-- 视频展播 -->
		<div class="row video-row ">
			<div class="row-con video">
				<div class="tab-tit clearfix">	
					<ul class="tab-nav">
						<li class="current">视频展播</li>
						<li>精品栏目</li>
						<li>电台栏目</li>
					</ul>
			           <a href="#" class="more" target="_blank">MORE&gt;&gt;</a>
				</div>
				<div class="tab-conts">
					<div class="tab-item">
						<div class="in left">
							<a>
								<img src="style/imgs/video.png" alt="news">
								<p class="intro excerpt">近日副市长王宇带领市直相关部门负责统治，来到二次洪水改造工程线程进行现场办公，解决工程存在问题，加快工程建设</p>
								<p class="times">125次播放</p>
							</a>
						</div>
						<div class="in right">
							<div class="cell-wrapper">
							<a class="cell">
								<img src="style/imgs/vedio.png"/>
								<span>王宇带领市相关部门统治，</span>
							</a>
							<a class="cell ">
								<img src="style/imgs/vedio.png"/>
								<span>王宇带领市相关部门统治，</span>
							</a>
							<a class="cell">
								<img src="style/imgs/vedio.png"/>
								<span>王宇带领市相关部门统治，</span>
							</a>
							<a class="cell ">
								<img src="style/imgs/vedio.png"/>
								<span>王宇带领市相关部门统治，</span>
							</a>
							</div>
						</div>
					</div> 
					<div class="tab-item" style="display:none;">
						<div class="in left">
							<a>
								<img src="style/imgs/video.png" alt="news">
								<p class="intro excerpt">近日副市长王宇带领市直相关部门负责统治，来到二次洪水改造工程线程进行现场办公，解决工程存在问题，加快工程建设</p>
								<p class="times">125次播放</p>
							</a>
						</div>
						<div class="in right">
							<div class="cell-wrapper">
							<a class="cell">
								<img src="style/imgs/vedio.png"/>
								<span>王宇带领市相关部门统治，</span>
							</a>
							<a class="cell ">
								<img src="style/imgs/vedio.png"/>
								<span>王宇带领市相关部门统治，</span>
							</a>
							<a class="cell">
								<img src="style/imgs/vedio.png"/>
								<span>王宇带领市相关部门统治，</span>
							</a>
							<a class="cell ">
								<img src="style/imgs/vedio.png"/>
								<span>王宇带领市相关部门统治，</span>
							</a>
							</div>
						</div>
					</div> 
					<div class="tab-item" style="display:none;">
						<div class="in left">
							<a>
								<img src="style/imgs/video.png" alt="news">
								<p class="intro excerpt">近日副市长王宇带领市直相关部门负责统治，来到二次洪水改造工程线程进行现场办公，解决工程存在问题，加快工程建设</p>
								<p class="times">125次播放</p>
							</a>
						</div>
						<div class="in right">
							<div class="cell-wrapper">
							<a class="cell">
								<img src="style/imgs/vedio.png"/>
								<span>王宇带领市相关部门统治，</span>
							</a>
							<a class="cell ">
								<img src="style/imgs/vedio.png"/>
								<span>王宇带领市相关部门统治，</span>
							</a>
							<a class="cell">
								<img src="style/imgs/vedio.png"/>
								<span>王宇带领市相关部门统治，</span>
							</a>
							<a class="cell ">
								<img src="style/imgs/vedio.png"/>
								<span>王宇带领市相关部门统治，</span>
							</a>
							</div>
						</div>
					</div> 
				</div>
			</div>
		</div>
		<!-- 主持人 -->
		<div class="row presenter-row ">
			<div class="row-con presenter">
				<div class="tab-tit clearfix">	
					<ul class="tab-nav">
						<li class="current">电视主持人</li>
						<li>广播主持人</li>
						<li>记者风采</li>
					</ul>
			           <a href="#" class="more" target="_blank">MORE&gt;&gt;</a>
				</div>
				<div class="tab-conts">
					<div class="tab-item">
							<a class="cell people">
								<div class="shade"> </div> 
								<img class="pic" src="style/imgs/presenter.png">
								<div class="intro" >
									<div class="job" >
										新闻联播
									</div>
									<div class="name" >
										李美妍
									</div>
								</div> 
							</a>
							<a class="cell people">
								<div class="shade"> </div> 
								<img class="pic" src="style/imgs/presenter.png">
								<div class="intro" >
									<div class="job" >
										新闻联播
									</div>
									<div class="name" >
										李美妍
									</div>
								</div> 
							</a>
							<a class="cell people">
								<div class="shade"> </div> 
								<img class="pic" src="style/imgs/presenter.png">
								<div class="intro" >
									<div class="job" >
										新闻联播
									</div>
									<div class="name" >
										李美妍
									</div>
								</div> 
							</a>
							<a class="cell people end">
								<div class="shade"> </div> 
								<img class="pic" src="style/imgs/presenter.png">
								<div class="intro" >
									<div class="job" >
										新闻联播
									</div>
									<div class="name" >
										李美妍
									</div>
								</div> 
							</a>
					</div>  
					
					<div class="tab-item" style="display:none;">
							<a class="cell">
								<img src="style/imgs/presenter.png"/>
								<span>222，</span>
							</a>
							<a class="cell end">
								<img src="style/imgs/presenter.png"/>
								<span>22，</span>
							</a>
							<a class="cell">
								<img src="style/imgs/presenter.png"/>
								<span>222，</span>
							</a>
					</div>
					
					<div class="tab-item" style="display:none;">
							<a class="cell">
								<img src="style/imgs/presenter.png"/>
								<span>33，</span>
							</a>
							<a class="cell end">
								<img src="style/imgs/presenter.png"/>
								<span>33，</span>
							</a>
							<a class="cell">
								<img src="style/imgs/presenter.png"/>
								<span>33，</span>
							</a>
					</div>    
				</div>
			</div>
		</div>
		<!-- 友情连接 -->
		<div class="row flinks-row">
			<div class="row-con flinks">
				<h2>友情链接:</h2>
				<div class="cont">
					<ul>
						<li><a href="#" target="_blank"><img src="style/imgs/flinks1.png"/></a></li>
						<li><a href="#" target="_blank"><img src="style/imgs/flinks1.png"/></a></li>
						<li><a href="#" target="_blank"><img src="style/imgs/flinks2.png"/></a></li>
						<li><a href="#" target="_blank"><img src="style/imgs/flinks2.png"/></a></li>
						<li><a href="#" target="_blank"><img src="style/imgs/flinks1.png"/></a></li>
						<li><a href="#" target="_blank"><img src="style/imgs/flinks1.png"/></a></li>
						<li><a href="#" target="_blank"><img src="style/imgs/flinks2.png"/></a></li>
						<li><a href="#" target="_blank"><img src="style/imgs/flinks2.png"/></a></li>
						<li><a href="#" target="_blank"><img src="style/imgs/flinks1.png"/></a></li>
						<li><a href="#" target="_blank"><img src="style/imgs/flinks1.png"/></a></li>
						<li><a href="#" target="_blank"><img src="style/imgs/flinks2.png"/></a></li>
						<li><a href="#" target="_blank"><img src="style/imgs/flinks2.png"/></a></li>
						<li><a href="#" target="_blank"><img src="style/imgs/flinks1.png"/></a></li>
						<li><a href="#" target="_blank"><img src="style/imgs/flinks2.png"/></a></li>
						<li><a href="#" target="_blank"><img src="style/imgs/flinks2.png"/></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer">
		 	<div class="footer-con">
		 		<ul class="links">
						<li>关于我们</li> <li>版权申明</li>
						 <li>招贤纳士</li> <li>联系我们</li> 
						 <li>广告合作</li> <li>网站地图</li>
				</ul>
		 		<p>版权所有：四平市广播电视台</p>
		 		<p>ICP:吉ICP备15002920号-1 互联网视听节目服务（AVSP）：吉备2013001号</p>
		 		<p>联系地址：四平市铁西区南迎宾大街广电大厦</p>
		 	</div>
	</div>     

	<div class="loginWindow hide">
		<h3>登录<span>X</span></h3>
		<div class="content">
			<div class="line">
				<input  name="username" type="text"  value="请输入用户名" 
	 							onfocus="if(this.value=='请输入用户名') this.value=''; this.style.color='#333'; return true;" 
	 							onblur="if(this.value=='') this.value='请输入用户名'; this.style.color='#cccccc'; return true;"
	 							style="color: #cccccc;">
			</div>
			<div class="line clearfix">
				<input  name="password" type="text"  class="password f-left" value="请输入用户名" 
	 							onfocus="if(this.value=='请输入用户名') this.value=''; this.style.color='#333'; return true;" 
	 							onblur="if(this.value=='') this.value='请输入用户名'; this.style.color='#cccccc'; return true;"
	 							style="color: #cccccc;">
	 			<a class="btn-req f-right">获取验证码</a>
			</div>
			<div class="line line-btn">
	 			<a class="btn-ok">确定</a>
			</div>
			<div class="line line-txt">
				----使用QQ快速登录----
			</div>
		</div>
	</div>
</body>
</html>