<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=8">
<meta name="renderer" content="”webkit|ie-comp|ie-stand”">
<link rel="stylesheet" type="text/css" href="style/css/common.css">
<script type="text/javascript" src="style/js/jquery.js"></script>
<script type="text/javascript" src="style/js/common.js"></script>
<link rel="stylesheet" type="text/css" href="style/css/vote.css">
<script type="text/javascript" src="style/js/vote.js"></script>
<title>活动规则投票页</title>
</head>
<body>
	<div class="header">
	 	<div class="header-con out">
	 			<div class="left in">
	 				<a class="main-logo" href="http://127.0.0.1:8080/"></a>
	 			</div>	 
	 			<div class="mid in clearfix">
	 				<div class="left-f city">北京</div>
	 				<div class="left-f weather">空气质量优</div>
	 			</div>
	 			<div class="right in">
	 				<div class="sec-log-reg">登录/注册</div>
	 				<div class="out align-right">
	 					<div class="in search-input"></div> 
	 					<a class="in btn-my ">搜索</a>
	 				</div>
	 			</div>
	     </div>
	     <div class="wrapper-nav">
	        	<ul class="nav title-font" >
					<li><a id="home" href="http://127.0.0.1:8080/ServerCode/home#">网站首页</a></li> 
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">四平新闻</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">在你身边</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">县区新闻</a></li> 
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">专栏宣传</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">精品栏目</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">活动投票</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">视频展播</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">本地生活</a></li>
		    	</ul>
	     </div>
	</div>
	<div class="main">
		<div class="banner">
				<div class="banner-con">
					<div class="banner-item " style="display: block; background:url(style/imgs/banner0.png) center center;"> 
		            </div>	
					<div class="banner-item " style="display: none; background:url(style/imgs/presenter.png) center center;">  
		            </div>	
		            <div class="banner-item " style="display: none; background:url(style/imgs/banner0.png) center center;"> 
		            </div>	
		            <div class="banner-item " style="display: none; background:url(style/imgs/video.png) center center;"> 
		            </div>		
				</div>
		        <div class="rolling-nav">
					<a data-id="0" href="javascript:void(0)" class="active"></a>
					<a data-id="1" href="javascript:void(0)" class=""></a>
					<a data-id="2" href="javascript:void(0)" class=""></a>
					<a data-id="3" href="javascript:void(0)" class=""></a>
				</div>
		</div>
		<!-- 活动规则 全部作品 -->
		<div class="titles">	
			<ul class="tabs">
				<li class="activity-rule current">活动规则</li>
				<li class="allworks">全部作品</li>
			</ul>
			
			<a class="btn-down" href="#">下载模板</a>
		</div>
		<div class="tab-content rule-list">
					<div class="rule-item">
						<h2>活动引言</h2>
						<p  class="infos">"点赞吉林·弘扬社会正能量"手机摄影 大赛，由吉林省互联网信息办公室、共青团吉林省委、吉林日报社主办，吉林日报社群众工作部协助活动比赛。</p>
					</div>
					<div class="rule-item">
						<h2>活动目的</h2>
						<p  class="infos">随着智能手机功能和应用的快速发展，摄影爱好者们可以随时、随地、随手抓拍到生活中更多的美与感动。本次大赛以“点赞吉林，弘扬社会正能量”为主题、以 “展示吉林风采，抓住感动瞬间，记录百姓生活，传递爱与关怀”为主要目的， 面向全社会征集手机摄影作品，旨在唱响网络主旋律、传递网络正能量，弘扬社会主义核心价值观。</p>
					</div>
					<div class="rule-item">
						<h2>活动规则</h2>
						<dl class="clearfix">
							<dt>一</dt>
							<dd>
									作品要求<br/>
									参赛作品内容要求积极健康，每人最多提交3幅作品，作品形式为单幅作品或者组照（组照照片总数不超过3张） ；
								</dd>
								<dt>二</dt>
								<dd>
									本次大赛不接受数码相机拍摄和胶片相机扫描件文件，不接受手机全画幅拍摄作品以及纸质作品投稿。作品电子格式必须为JPG文件，照片可以进行裁剪、旋转、色彩等简单处理，但禁止使用photoshop等软件进行任何深度处理。作品需保留EXIF信息，便于组委会查看。
								</dd>
								<dt>三</dt>
								<dd>
									参赛者应保证为作品的原创作者，并对该作品的整体及局部均拥有独立、完整、明确、无争议的著作权；参赛者还应保证其所投送的作品不侵犯第三人的著作权、肖像权、名誉权、隐私权等在内的合法权益。
								</dd>
								
								<dt>四</dt>
								<dd>
									对于入选作品，主办单位有权以复制、发行、展览、放映、信息网络传播等方式使用，并可不支付报酬。
								</dd>
								<dt>五</dt>
								<dd>5.本届手机摄影大赛及征稿启事解释权属于主办单位。参赛者一经投稿，即视为其已同意本征稿启事之所有规定。
								</dd>
								
								<dt>六</dt>
								<dd>
									作品类别<br/>
									以“弘扬社会正能量”为主题，选手根据作品的特点按照“点滴生活”、“爱与感动”、“美丽校园”、“大美吉林”、“创享美拍”五方面投放作品。
								</dd>
							</dl>
					</div>
					<div class="rule-item">
						<h2>活动时间</h2>
						<div class="time-list clearfix">
							<ul>
								<li>
									<img src="style/imgs/xuhao.jpg"/>
									<span class="tit">报名投稿</span>
									<span class="date">2015.10.15~2015.11.15</span>
								</li>
								<li>
									<img src="style/imgs/xuhao.jpg"/>
									<span class="tit">作品整理及初选</span>
									<span class="date">2015.10.15~2015.11.15</span>
								</li>
								<li>
									<img src="style/imgs/xuhao.jpg"/>
									<span class="tit">网络投票</span>
									<span class="date">2015.10.15~2015.11.15</span>
								</li>
								<li>
									<img src="style/imgs/xuhao.jpg"/>
									<span class="tit">颁奖巡演</span>
									<span class="date">2015.10.15~2015.11.15</span>
								</li>
							</ul>
						</div>
					</div>
					
					<div class="rule-item">
						<h2>投稿方式</h2>
						<div class="commit-form">
							<img class="erweima" src="style/imgs/erweima.jpg"/>
							<div class="text clearfix">
								<p>参与者可以通过扫描二维码和微信平台主动添加的方式关注“吉报教育在线”微信公共平台了解活动详情，并进行活动投稿和投票</p>
								<dl>
									<dt>1、</dt>
									<dd>手机投稿：发送“我要参赛+姓名+手机号码+作品名称”及参赛作品至“吉报教育在线”微信公众平台；</dd>
									<dt>2、</dt>
									<dd>邮箱投稿：将邮件主题及作品附件命名为“姓名+手机号码+作品名称”发送至邮箱：sjsheyingdasai@163.com。</dd>
								</dl>
							</div>
						</div>
					</div>
					<div class="rule-item">
						<h2>比赛奖励</h2>
						<div class="reward clearfix">
							<div class="box">
								<img src="style/imgs/reward.png"/>
								<span class="level">一等奖(1名)</span>
								<span class="info">华为Mate S 手机一部 </span>
							</div>
							<div class="box">
								<img src="style/imgs/reward.png"/>
								<span class="level">二等奖(3名)</span>
								<span class="info">华为Mate 7 手机一部 </span>
							</div>
							<div class="box end">
								<img src="style/imgs/reward.png"/>
								<span class="level">三等奖(10名)</span>
								<span class="info">华为荣耀6 手机一部 </span>
							</div>
							<div class="box">
								<img src="style/imgs/reward.png"/>
								<span class="level">优秀奖(50名)</span>
								<span class="info">华为便携式音响一台 </span>
							</div>
							<div class="box">
								<img src="style/imgs/reward.png"/>
								<span class="level">参与奖</span>
								<span class="info">有机会获得话费50元</span>
							</div>
						</div>
					</div>
					
					<div class="rule-item">
						<h2>主办单位</h2>
						<div class="sponser">
							<p>主办单位:吉林省互联网信息办公室、共青团吉林省委、吉林日报社</p>
							<p>协办单位：吉林日报社群众工作部</p>
						</div>
					</div>
				</div>
		<div class="tab-content allworks-list clearfix" style="display:none">
				<ul>
					<li>
						<a class="block" href="#">
							<div class="shade" ></div>
							<p class="img"><img src="style/imgs/column1.png"/></p>
							<p class="title">小菜一叠</p>
							<p class="pubdate">2015-11-07</p>
							<p class="number">1205人投票</p>
							<button class="btn-vote-action">投一票</button>								
						</a>
					</li>
						<li>
						<a class="block" href="#">
							<div class="shade" ></div>
							<p class="img"><img src="style/imgs/column1.png"/></p>
							<p class="title">小菜一叠</p>
							<p class="pubdate">2015-11-07</p>
							<p class="number">1205人投票</p>
							<button class="btn-vote-action">投一票</button>								
						</a>
					</li>
						<li>
						<a class="block" href="#">
							<div class="shade" ></div>
							<p class="img"><img src="style/imgs/column1.png"/></p>
							<p class="title">小菜一叠</p>
							<p class="pubdate">2015-11-07</p>
							<p class="number">1205人投票</p>
							<button class="btn-vote-action">投一票</button>								
						</a>
					</li>
						<li>
						<a class="block" href="#">
							<div class="shade" ></div>
							<p class="img"><img src="style/imgs/column1.png"/></p>
							<p class="title">小菜一叠</p>
							<p class="pubdate">2015-11-07</p>
							<p class="number">1205人投票</p>
							<button class="btn-vote-action">投一票</button>								
						</a>
					</li>
						<li>
						<a class="block" href="#">
							<div class="shade" ></div>
							<p class="img"><img src="style/imgs/column1.png"/></p>
							<p class="title">小菜一叠</p>
							<p class="pubdate">2015-11-07</p>
							<p class="number">1205人投票</p>
							<button class="btn-vote-action">投一票</button>								
						</a>
					</li>
						<li>
						<a class="block" href="#">
							<div class="shade" ></div>
							<p class="img"><img src="style/imgs/column1.png"/></p>
							<p class="title">小菜一叠</p>
							<p class="pubdate">2015-11-07</p>
							<p class="number">1205人投票</p>
							<button class="btn-vote-action">投一票</button>								
						</a>
					</li>
						<li>
						<a class="block" href="#">
							<div class="shade" ></div>
							<p class="img"><img src="style/imgs/column1.png"/></p>
							<p class="title">小菜一叠</p>
							<p class="pubdate">2015-11-07</p>
							<p class="number">1205人投票</p>
							<button class="btn-vote-action">投一票</button>								
						</a>
					</li>
				</ul>
			</div>
		</div>
	
	<div class="footer">
		 	<div class="footer-con">
		 		<p>
		 			</p><ul class="links">
						<li>关于我们</li> <li>版权申明</li>
						 <li>招贤纳士</li> <li>联系我们</li> 
						 <li>广告合作</li> <li>网站地图</li>
					</ul>
		 		<p></p>
		 		<p>版权所有：四平市广播电视台</p>
		 		<p>ICP:吉ICP备15002920号-1 互联网视听节目服务（AVSP）：吉备2013001号</p>
		 		<p>联系地址：四平市铁西区南迎宾大街广电大厦</p>
		 	</div>
	</div>                
</body>
</html>