<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=8">
<meta name="renderer" content="”webkit|ie-comp|ie-stand”">
<link rel="stylesheet" type="text/css" href="style/css/common.css">
<script type="text/javascript" src="style/js/jquery.js"></script>
<script type="text/javascript" src="style/js/common.js"></script>
<link rel="stylesheet" type="text/css" href="style/css/fm.css">
</head>
<body>
	<div class="header">
	 	<div class="header-con out">
	 			<div class="left in">
	 				<a class="main-logo" href="http://127.0.0.1:8080/"></a>
	 			</div>	 
	 			<div class="mid in clearfix">
	 				<div class="left-f city">北京</div>
	 				<div class="left-f weather">空气质量优</div>
	 			</div>
	 			<div class="right in">
	 				<div class="sec-log-reg">登录/注册</div>
	 				<div class="out align-right">
	 					<div class="in search-input"></div> 
	 					<a class="in btn-my ">搜索</a>
	 				</div>
	 			</div>
	     </div>
	     <div class="wrapper-nav">
	        	<ul class="nav title-font" >
					<li><a id="home" href="http://127.0.0.1:8080/ServerCode/home#">网站首页</a></li> 
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">四平新闻</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">在你身边</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">县区新闻</a></li> 
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">专栏宣传</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">精品栏目</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">活动投票</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">视频展播</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">本地生活</a></li>
		    	</ul>
	     </div>
	</div>
	<div class="main">
		<div class="row">
			<div class="place">
				<a href="#">四平广播电视台官方网站</a> &gt; <a href="#">【直播】</a>  &gt; <a href="#">人民电台FM93.9</a>
			</div>
			<div class="play">
				<img src="style/imgs/fm-play.jpg" />
			</div>
		</div>
		
		<div class="dynamic-title">
			<h1 class="sec-title">频道动态<span  class="cn-en">/</span><span class="tit-en">DYNAMIC</span></h1>
		</div>
		<div class="dynamic-list clearfix">
			<div class="item">
				<h2 class="title">四平人民广播电视台简介</h2>
				<p class="intro">四平人民广播电视台隶属于四平广播电视台，播出频率FM93.9兆赫。主要职能是：围绕四平市委、市政府的各项工作开展广播宣传，丰富广大人民群众的文化生活；转播中央人民广播电台和吉林人..<a href="#">详情></a></p>
			</div>	
			<div class="item">
				<h2 class="title">国际油价创年内新高 国内汽柴油价或迎三</h2>
				<p class="intro">2015-05-07 08:01:00 来源：总新网 中新网5月7日电五一假期过后，在利比亚原油出口受阻等多重因素刺激下，国际原油价格再度步入上行通道，不断刷新年内新高。受此带。。<a>详情></a></p>
			</div>	
			<div class="item">
				<h2 class="title">专访全国人大代表王玉芝</h2>
				<p class="intro">时间：3月5日21点 吉林省四平市政协副主席王玉芝做客中央人民广播电台《政务直通》。新型城镇化贵在突出一个“新”字、核心更是在于写好一个
					并非简单"造成",...<a>详情></a>
				</p>
			</div>
		</div>
	</div>
	
	<div class="footer">
		 	<div class="footer-con">
		 		<p>
		 			</p><ul class="links">
						<li>关于我们</li> <li>版权申明</li>
						 <li>招贤纳士</li> <li>联系我们</li> 
						 <li>广告合作</li> <li>网站地图</li>
					</ul>
		 		<p></p>
		 		<p>版权所有：四平市广播电视台</p>
		 		<p>ICP:吉ICP备15002920号-1 互联网视听节目服务（AVSP）：吉备2013001号</p>
		 		<p>联系地址：四平市铁西区南迎宾大街广电大厦</p>
		 	</div>
	</div>                
</body>
</html>