<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=8">
<meta name="renderer" content="”webkit|ie-comp|ie-stand”">
<link rel="stylesheet" type="text/css" href="style/css/common.css">
<script type="text/javascript" src="style/js/jquery.js"></script>
<script type="text/javascript" src="style/js/common.js"></script>
<link rel="stylesheet" type="text/css" href="style/css/column.css">
<script type="text/javascript" src="style/js/news-list.js"></script>
</head>
<body>
	<div class="header">
	 	<div class="header-con out">
	 			<div class="left in">
	 				<a class="main-logo" href="http://127.0.0.1:8080/"></a>
	 			</div>	 
	 			<div class="mid in clearfix">
	 				<div class="left-f city">北京</div>
	 				<div class="left-f weather">空气质量优</div>
	 			</div>
	 			<div class="right in">
	 				<div class="sec-log-reg">登录/注册</div>
	 				<div class="out align-right">
	 					<div class="in search-input"></div> 
	 					<a class="in btn-my ">搜索</a>
	 				</div>
	 			</div>
	     </div>
	     <div class="wrapper-nav">
	        	<ul class="nav title-font" >
					<li><a id="home" href="http://127.0.0.1:8080/ServerCode/home#">网站首页</a></li> 
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">四平新闻</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">在你身边</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">县区新闻</a></li> 
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">专栏宣传</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">精品栏目</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">活动投票</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">视频展播</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">本地生活</a></li>
		    	</ul>
	     </div>
	</div>
	<div class="main">
		<div class="banner">
				<div class="banner-con">
					<div class="banner-item " style="display: block; background:url(style/imgs/banner0.png) center center;"> 
		            </div>	
					<div class="banner-item " style="display: none; background:url(style/imgs/presenter.png) center center;">  
		            </div>	
		            <div class="banner-item " style="display: none; background:url(style/imgs/banner0.png) center center;"> 
		            </div>	
		            <div class="banner-item " style="display: none; background:url(style/imgs/video.png) center center;"> 
		            </div>		
				</div>
		        <div class="rolling-nav">
					<a data-id="0" href="javascript:void(0)" class="active"></a>
					<a data-id="1" href="javascript:void(0)" class=""></a>
					<a data-id="2" href="javascript:void(0)" class=""></a>
					<a data-id="3" href="javascript:void(0)" class=""></a>
				</div>
		</div>
		<!-- 精品栏目 -->
		<div class="column-wrapper clearfix">
				<div class="sec-title">	
					<h2 class="title-font">
						精品栏目
						<span class="tit-slash">/</span>
						<span class="tit-en">COLUMN</span>
					</h2>
				</div>
				<div class="conts clearfix">
					<ul>
						<a class="column-cell " href="#">
							<div class="shade" ></div>
							<p class="pic"><img src="style/imgs/column1.png"/></p>
							<h3>小菜一碟</h3>
							<p class="intro">是《在你身边》推介四平名优、特色美食和店铺，展 示四平特色饮食文化的品牌栏目，深受广大观众喜爱</p>
						</a>
						<a class="column-cell " href="#">
							<div class="shade" ></div>
							<p class="pic"><img src="style/imgs/column1.png"/></p>
							<h3>小菜一碟</h3>
							<p class="intro">是《在你身边》推介四平名优、特色美食和店铺，展 示四平特色饮食文化的品牌栏目，深受广大观众喜爱</p>
						</a>
						<a class="column-cell " href="#">
							<div class="shade" ></div>
							<p class="pic"><img src="style/imgs/column1.png"/></p>
							<h3>小菜一碟</h3>
							<p class="intro">是《在你身边》推介四平名优、特色美食和店铺，展 示四平特色饮食文化的品牌栏目，深受广大观众喜爱</p>
						</a>
						<a class="column-cell " href="#">
							<div class="shade" ></div>
							<p class="pic"><img src="style/imgs/column1.png"/></p>
							<h3>小菜一碟</h3>
							<p class="intro">是《在你身边》推介四平名优、特色美食和店铺，展 示四平特色饮食文化的品牌栏目，深受广大观众喜爱</p>
						</a>
						<a class="column-cell " href="#">
							<div class="shade" ></div>
							<p class="pic"><img src="style/imgs/column1.png"/></p>
							<h3>小菜一碟</h3>
							<p class="intro">是《在你身边》推介四平名优、特色美食和店铺，展 示四平特色饮食文化的品牌栏目，深受广大观众喜爱</p>
						</a>
						<a class="column-cell " href="#">
							<div class="shade" ></div>
							<p class="pic"><img src="style/imgs/column1.png"/></p>
							<h3>小菜一碟</h3>
							<p class="intro">是《在你身边》推介四平名优、特色美食和店铺，展 示四平特色饮食文化的品牌栏目，深受广大观众喜爱</p>
						</a>
						<a class="column-cell " href="#">
							<div class="shade" ></div>
							<p class="pic"><img src="style/imgs/column1.png"/></p>
							<h3>小菜一碟</h3>
							<p class="intro">是《在你身边》推介四平名优、特色美食和店铺，展 示四平特色饮食文化的品牌栏目，深受广大观众喜爱</p>
						</a>
						<a class="column-cell " href="#">
							<div class="shade" ></div>
							<p class="pic"><img src="style/imgs/column1.png"/></p>
							<h3>小菜一碟</h3>
							<p class="intro">是《在你身边》推介四平名优、特色美食和店铺，展 示四平特色饮食文化的品牌栏目，深受广大观众喜爱</p>
						</a>
					</ul>
				</div>
		</div>
	</div>
	
	<div class="footer">
		 	<div class="footer-con">
		 		<p>
		 			</p><ul class="links">
						<li>关于我们</li> <li>版权申明</li>
						 <li>招贤纳士</li> <li>联系我们</li> 
						 <li>广告合作</li> <li>网站地图</li>
					</ul>
		 		<p></p>
		 		<p>版权所有：四平市广播电视台</p>
		 		<p>ICP:吉ICP备15002920号-1 互联网视听节目服务（AVSP）：吉备2013001号</p>
		 		<p>联系地址：四平市铁西区南迎宾大街广电大厦</p>
		 	</div>
	</div>                
</body>
</html>