<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=8">
<meta name="renderer" content="”webkit|ie-comp|ie-stand”">
<link rel="stylesheet" type="text/css" href="style/css/common.css">
<script type="text/javascript" src="style/js/jquery.js"></script>
<script type="text/javascript" src="style/js/common.js"></script>
<link rel="stylesheet" type="text/css" href="style/css/video-show.css">
<script type="text/javascript" src="style/js/news-list.js"></script>
</head>
<body>
	<div class="header">
	 	<div class="header-con out">
	 			<div class="left in">
	 				<a class="main-logo" href="http://127.0.0.1:8080/"></a>
	 			</div>	 
	 			<div class="mid in clearfix">
	 				<div class="left-f city">北京</div>
	 				<div class="left-f weather">空气质量优</div>
	 			</div>
	 			<div class="right in">
	 				<div class="sec-log-reg">登录/注册</div>
	 				<div class="out align-right">
	 					<div class="in search-input"></div> 
	 					<a class="in btn-my ">搜索</a>
	 				</div>
	 			</div>
	     </div>
	     <div class="wrapper-nav">
	        	<ul class="nav title-font" >
					<li><a id="home" href="http://127.0.0.1:8080/ServerCode/home#">网站首页</a></li> 
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">四平新闻</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">在你身边</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">县区新闻</a></li> 
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">专栏宣传</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">精品栏目</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">活动投票</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">视频展播</a></li>
					<li><a id="" href="http://127.0.0.1:8080/ServerCode/home#">本地生活</a></li>
		    	</ul>
	     </div>
	</div>
	<div class="main">
		<div class="row">
			<div class="place">
				<a href="#">视频展播</a> &gt;  <a href="#">新农村题材微电影《白云 黑土 正青春》正式开机</a>
			</div>
			<div class="video">
				<div class="play">
					<img src="style/imgs/video-play.jpg"/>
				</div>
				<div class="info">
					<img src="style/imgs/video-share.jpg"/>
				</div>
				<div class="intro">
					11月3日，市委书记赵晓军、市长王振才在吉平宾馆亲切会见了百威英博中国区总裁吉祥一行，双方就项目合作和百威英博白是白村生啤酒股份有限公司下一步发展
					等情况进行了深入交流并达成高度共识。
				</div>
			</div>
		</div>
		
		<div class="video-list clearfix">
				<div class="box">
					<img src="style/imgs/video-show-1.png"/>
					<p class="title">小菜一碟</p>
					<p class="infos">来源：四平广播电视台 <span class="pubdate">2015-11-07</span></p>
					<p class="infos">网络编辑：书桐 仅仅高飞 <span class="viewtimes">1205次预览</span></p>
				</div>
				<div class="box">
					<img src="style/imgs/video-show-1.png"/>
					<p class="title">小菜一碟</p>
					<p class="infos">来源：四平广播电视台 <span class="pubdate">2015-11-07</span></p>
					<p class="infos">网络编辑：书桐 仅仅高飞 <span class="viewtimes">1205次预览</span></p>
				</div>
				<div class="box">
					<img src="style/imgs/video-show-1.png"/>
					<p class="title">小菜一碟</p>
					<p class="infos">来源：四平广播电视台 <span class="pubdate">2015-11-07</span></p>
					<p class="infos">网络编辑：书桐 仅仅高飞 <span class="viewtimes">1205次预览</span></p>
				</div>
				<div class="box">
					<img src="style/imgs/video-show-1.png"/>
					<p class="title">小菜一碟</p>
					<p class="infos">来源：四平广播电视台 <span class="pubdate">2015-11-07</span></p>
					<p class="infos">网络编辑：书桐 仅仅高飞 <span class="viewtimes">1205次预览</span></p>
				</div>
		</div>
	</div>
	
	<div class="footer">
		 	<div class="footer-con">
		 		<p>
		 			</p><ul class="links">
						<li>关于我们</li> <li>版权申明</li>
						 <li>招贤纳士</li> <li>联系我们</li> 
						 <li>广告合作</li> <li>网站地图</li>
					</ul>
		 		<p></p>
		 		<p>版权所有：四平市广播电视台</p>
		 		<p>ICP:吉ICP备15002920号-1 互联网视听节目服务（AVSP）：吉备2013001号</p>
		 		<p>联系地址：四平市铁西区南迎宾大街广电大厦</p>
		 	</div>
	</div>                
</body>
</html>