<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=8">
<meta name="renderer" content="”webkit|ie-comp|ie-stand”">
<link rel="stylesheet" type="text/css" href="style/css/common.css">
<script type="text/javascript" src="style/js/jquery.js"></script>
<script type="text/javascript" src="style/js/common.js"></script>
<link rel="stylesheet" type="text/css" href="style/css/video-show.css">
<script type="text/javascript" src="style/js/news-list.js"></script>
</head>
<body>
	<div class="header">
	 	<div class="header-con">
	 			<div class="logo">
	 				<a class="main-logo" href="#"></a>
	 			</div>	 
	 			<div class="weather">
	 				<dt>
	 					<span>&nbsp;&nbsp;北京&nbsp;</span>
	 					<a style="">【切换】</a>
	 				</dt>
	 				<dd>
	 					<span>空气质量 ：优</span>
	 					<span>多云转晴 ：26~35</span>
	 				</dd>
	 			</div>
	 			<div class="search">
	 				<div class="sec-log-reg"><a id="loginBtn">登录/注册</a></div>
	 				<form >
	 				<div class="align-right">
	 					<input id="srch1" name="passwordtwo" type="text" 
	 							class="search-input" value="请输入你要搜索的关键字" 
	 							onfocus="if(this.value=='请输入你要搜索的关键字') this.value=''; this.style.color='#333'; return true;" 
	 							onblur="if(this.value=='') this.value='请输入你要搜索的关键字'; this.style.color='#cccccc'; return true;"
	 							style="color: #cccccc;">
		 				<input type="submit" value="搜索" class="search-btn">
	 				</div>
	 				</form>
	 			</div>
	     </div>
	     <div class="wrapper-nav">
	        	<ul class="nav title-font" >
					<li><a id="home" href="#">网站首页</a></li> 
					<li><a id="" href="#">四平新闻</a></li>
					<li><a id="" href="#">在你身边</a></li>
					<li><a id="" href="#">县区新闻</a></li> 
					<li><a id="" href="#">专栏宣传</a></li>
					<li><a id="" href="#">精品栏目</a></li>
					<li><a id="" href="#">活动投票</a></li>
					<li><a id="" href="#">视频展播</a></li>
					<li><a id="" href="#">本地生活</a></li>
		    	</ul>
	     </div>
	</div>
	<div class="main">
		<div class="place">
			<a href="#">视频新闻</a> &gt; 新农村题材微电影 《白云 黑土 正青春》正式开机
		</div>
		<div class="video">
			<div class="play">
				<div class="playvbwc clearfix">
		          <div class="v-playbox">
		            <div id="video" style="width:680px;height:400px;">
		              <div id="a1">
			             <object pluginspage="http://www.macromedia.com/go/getflashplayer" 
			              	classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" 
			              	codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" 
			              	width="680" height="400" 
			              	id="ckplayer_a1" name="ckplayer_a1" align="middle">
			              	<param name="allowScriptAccess" value="always">
			              	<param name="allowFullScreen" value="true">
			              	<param name="quality" value="high">
			              	<param name="bgcolor" value="#FFF">
			              	<param name="wmode" value="transparent">
			              	<param name="movie" value="/siping/m/live/ckplayer/ckplayer.swf">
			              	<!--<param name="flashvars" value="f=http://www.jlspgd.com/file/20160111/dyxfvblQzTLnb/1/mp4/1_1.mp4&amp;c=0&amp;p=1&amp;loaded=loadedHandler">-->
			              	<embed allowscriptaccess="always" allowfullscreen="true" 
				              	quality="high" bgcolor="#FFF" 
				              	wmode="transparent" 
				              	src="/siping/m/live/ckplayer/ckplayer.swf" 
			              		flashvars="f=http://localhost/siping/file/1_1.mp4&amp;c=0&amp;p=1&amp;loaded=loadedHandler" 
			              		width="680" height="400" name="ckplayer_a1" id="ckplayer_a1" align="middle" 
			              		type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
			              </object>
		            </div>
		            </div>
					<script type="text/javascript" src="/siping/m/live/ckplayer/ckplayer.js" charset="utf-8"></script>
					<script type="text/javascript">
					    var flashvars={
					        f:'http://localhost/siping/file/1_1.mp4',
					        c:0,
							p:'1',
					        loaded:'loadedHandler'
					    };
						var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
					    var video=['http://localhost/siping/file/1_1.mp4->video/mp4'];
					    CKobject.embed('/siping/m/live/ckplayer/ckplayer.swf','a1','ckplayer_a1','680','400',false,flashvars,video);
					</script>
		          </div>
		          <div class="v-playright">
		          	<div class="tit">
		          		相关视频
		          	</div>
		          	<div class="video-nav">
		          		<div class="video-wrapper">
		          			<a class="cell">
								<img src="style/imgs/video-cell-1.png">
								<span>市委组织部召开部机关 组工干部大会.......，</span>
							</a>
		          			<a class="cell">
								<img src="style/imgs/video-cell-2.png">
								<span>市委组织部召开部机关 组工干部大会.......</span>
							</a>
		          			<a class="cell">
								<img src="style/imgs/video-cell-3.png">
								<span>王宇带领市相关部门统治，</span>
							</a>
							<a class="cell">
								<img src="style/imgs/video-cell-2.png">
								<span>市委组织部召开部机关 组工干部大会.......</span>
							</a>
		          		</div>
		          	</div>
		          </div>
		        </div>
		    	
		    	<div class="bshare"><span>浏览：
		          <script src="/plus/count.php?view=yes&amp;aid=20551&amp;mid=341" type="text/javascript" language="javascript"></script>72
		          </span>
		          <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1460367342813"><a href="http://www.jlspgd.com/file/20160111/dyxfvblQzTLnb/1/mp4/1_1.mp4" class="bds_more" data-cmd="more"></a><a href="http://www.jlspgd.com/file/20160111/dyxfvblQzTLnb/1/mp4/1_1.mp4" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="http://www.jlspgd.com/file/20160111/dyxfvblQzTLnb/1/mp4/1_1.mp4" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="http://www.jlspgd.com/file/20160111/dyxfvblQzTLnb/1/mp4/1_1.mp4" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="http://www.jlspgd.com/file/20160111/dyxfvblQzTLnb/1/mp4/1_1.mp4" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="http://www.jlspgd.com/file/20160111/dyxfvblQzTLnb/1/mp4/1_1.mp4" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
		          <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
		        </div>    
		    </div>
			<!--<div class="info">
				<img src="style/imgs/video-share.jpg"/>
			</div>-->
			<div class="intro">
				11月3日，市委书记赵晓军、市长王振才在吉平宾馆亲切会见了百威英博中国区总裁吉祥一行，双方就项目合作和百威英博白是白村生啤酒股份有限公司下一步发展
				等情况进行了深入交流并达成高度共识。
			</div>
		</div>
		<!--  -->
		<!-- 视频列表 -->
		<div class="video-list-wrapper clearfix">
			<div class="conts clearfix">
				<ul>
					<a class="video-cell " href="#">
						<div class="shade" ></div>
						<img src="style/imgs/column1.png"/>
						<h3>小菜一碟</h3>
						<p class="infos">来源：四平广播电视台 <span class="pubdate">2015-11-07</span></p>
						<p class="infos">网络编辑：书桐 仅仅高飞 <span class="viewtimes">1205次预览</span></p>
					</a>
					<a class="video-cell " href="#">
						<div class="shade" ></div>
						<p class="pic"><img src="style/imgs/column1.png"/></p>
						<h3>小菜一碟</h3>
						<p class="infos">来源：四平广播电视台 <span class="pubdate">2015-11-07</span></p>
						<p class="infos">网络编辑：书桐 仅仅高飞 <span class="viewtimes">1205次预览</span></p>
					</a>
					<a class="video-cell " href="#">
						<div class="shade" ></div>
						<p class="pic"><img src="style/imgs/column1.png"/></p>
						<h3>小菜一碟</h3>
						<p class="infos">来源：四平广播电视台 <span class="pubdate">2015-11-07</span></p>
						<p class="infos">网络编辑：书桐 仅仅高飞 <span class="viewtimes">1205次预览</span></p>
					</a>
					<a class="video-cell " href="#">
						<div class="shade" ></div>
						<p class="pic"><img src="style/imgs/column1.png"/></p>
						<h3>小菜一碟</h3>
						<p class="infos">来源：四平广播电视台 <span class="pubdate">2015-11-07</span></p>
						<p class="infos">网络编辑：书桐 仅仅高飞 <span class="viewtimes">1205次预览</span></p>
					</a>	
				</ul>
			</div>
			<div class="pagebox clearfix">
				<ul>
					<li>
						<a href="#" id="prev_page" target="_self">上一页</a>
					</li>
					<li>
						<a href="#" target="_self">1</a>
					</li>
					<li>
						<a href="#" target="_self">2</a>
					</li>
					<li>
						<a href="#" target="_self">3</a>
					</li>
					<li>
						<a href="#" target="_self">4</a>
					</li>
					<li>
						<a href="#" id="next_page" target="_self">下一页</a>
					</li>
				</ul>
		</div>
		</div>
		
		
	</div>
	
	<div class="footer">
		 	<div class="footer-con">
		 		<ul class="links">
						<li>关于我们</li> <li>版权申明</li>
						 <li>招贤纳士</li> <li>联系我们</li> 
						 <li>广告合作</li> <li>网站地图</li>
				</ul>
		 		<p>版权所有：四平市广播电视台</p>
		 		<p>ICP:吉ICP备15002920号-1 互联网视听节目服务（AVSP）：吉备2013001号</p>
		 		<p>联系地址：四平市铁西区南迎宾大街广电大厦</p>
		 	</div>
	</div>                
</body>
</html>