{% extends 'main.html' %}
 

 
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/style/css/presenter.css">
<script type="text/javascript" src="/static/style/js/news-list.js"></script>
<div class="main">
		<div class="place">
			<a href="#">主持人</a> &gt; <a href="#">李丽滢</a> 
		</div>
		<div class="row">
			<div class="play">
				<img src="/static/style/imgs/presenter-play.jpg" />
			</div>
		</div>
		<div class="presenter-list clearfix">
				<div class="presenter-box clearfix">
					<img src="/static/style/imgs/presenter-1.png"/>
					<div class="intro">
						<p class="job">新闻联播</p>
						<p class="pipe">|</p>
						<p class="name">李美妍</p>
					</div>
				</div>
				<div class="presenter-box clearfix">
					<img src="/static/style/imgs/presenter-1.png"/>
					<div class="intro">
						<p class="job">新闻联播</p>
						<p class="pipe">|</p>
						<p class="name">李美妍</p>
					</div>
				</div>
				<div class="presenter-box clearfix">
					<img src="/static/style/imgs/presenter-1.png"/>
					<div class="intro">
						<p class="job">新闻联播</p>
						<p class="pipe">|</p>
						<p class="name">李美妍</p>
					</div>
				</div>
				<div class="presenter-box clearfix">
					<img src="/static/style/imgs/presenter-1.png"/>
					<div class="intro">
						<p class="job">新闻联播</p>
						<p class="pipe">|</p>
						<p class="name">李美妍</p>
					</div>
				</div>
				<div class="presenter-box clearfix">
					<img src="/static/style/imgs/presenter-1.png"/>
					<div class="intro">
						<p class="job">新闻联播</p>
						<p class="pipe">|</p>
						<p class="name">李美妍</p>
					</div>
				</div>
				<div class="presenter-box clearfix">
					<img src="/static/style/imgs/presenter-1.png"/>
					<div class="intro">
						<p class="job">新闻联播</p>
						<p class="pipe">|</p>
						<p class="name">李美妍</p>
					</div>
				</div>
		</div>
	</div>

{% endblock %}	