<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>四平广播电视台网站用户登陆</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="/static/assets/css/reset.css">
        <link rel="stylesheet" href="/static/assets/css/supersized.css">
        <link rel="stylesheet" href="/static/assets/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="page-container">
            <h1>登录</h1>
            <form action="" method="post">
                <input type="text" id="l_username" name="username" class="username" placeholder="用户名">
                <input type="password" id="l_password" name="password" class="password" placeholder="密码">
                <button id="l_login" type="button" class="btn btn-primary">登录</button>
                <div class="error"><span>+</span></div>
            </form>
            <div class="connect">
                <p>Or connect with:</p>
                <p>
                    <a class="facebook" href=""></a>
                    <a class="twitter" href=""></a>
                </p>
            </div>
        </div>
		
        <!-- Javascript -->
        <script src="/static/assets/js/jquery-1.8.2.min.js"></script>
        <script src="/static/assets/js/supersized.3.2.7.min.js"></script>
        <script src="/static/assets/js/supersized-init.js"></script>
        <script src="/static/assets/js/scripts.js"></script>
<script type="text/javascript">



function checkEmail(email) {
    var re = /^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/
    if(re.test(email)){
        return true;
    }else{
        return false;
    }
}
/* 
* 功能：判断用户输入的手机号格式是否正确 
* 传参：无 
* 返回值：true or false 
*/ 
function checkMobile(s) { 
var regu = /^[1][0-9][0-9]{9}$/; 
var re = new RegExp(regu); 
if (re.test(s)) { 
return true; 
} else { 
return false; 
} 
}


$(function(){

    $("#tologin").click(function(){
        $("#login_modal").modal('show');
    });

    $("#toregist").click(function(){
        $("#regist_modal").modal('show');
    });

    
    $("#l_login").click(function(){
        username = $.trim($("#l_username").val())
        password = $.trim($("#l_password").val())
        if(username == "") {
            alert("用户名不能为空");
        }else if (password == "") {
            alert("密码不能为空");
        }else{
            $.ajax({
                url: '/login/',
                type: 'POST',
                dataType: 'json',
                data: {'username':username,'password':password},
                success:function(result){
                    if (result['resCode'] == "1") {
                        // alert(result['resDesc']);
                        location.href = "/index";
                    }else{
                        alert(result['resDesc']);
                    }
                },
            });
        }
    });
    
})
</script>


    </body>

</html>


