<!DOCTYPE HTML>
<html lang="en-US">
<head>
<title>四平广播电视台官网注册页面</title>
<meta charset="UTF-8">
<meta name="keywords" content="">
<meta name="description" content="">
<link type="text/css" href="/static/themes/css/v3/reset.css" rel="stylesheet">
<link type="text/css" href="/static/themes/css/v3/public.css" rel="stylesheet">
<link type="text/css" href="/static/themes/css/v3/register.css" rel="stylesheet">
<link rel="shortcut icon" href="favicon.ico" />
<script src="/static/js/jquery-1.11.2.min.js" type="text/javascript"></script>
<!-- <script src="/static/themes/js/jquery.form.js" type="text/javascript"></script> -->
<!-- <script src="/static/themes/js/json.parse.js" type="text/javascript"></script> -->

<style>
.input_div span{ background:#FFF;}
</style>
<!--[if IE 6]>
<script src="/static/themes/js/DD_belatedPNG.js"  type="text/javascript"></script>
<script>DD_belatedPNG.fix('.png_bg');</script>
<![endif]-->
</head>
<body>
	<div id="header">
		
	</div>
	
	<div class="register_content">
	
		<ul class="step_ul step1 clear">
			<li class="li1">01、填写资料</li>
			<li class="li2">02、完成注册</li>
		</ul>
		
		 <form name="registerForm" id='registerForm' action="/regist/" method="post" style="padding:60px 40px 88px 40px;font-family:Microsoft Yahei">
			<div class="div_form clear ">
				<label>用户名：</label>
				<div class="input_div input_div1">
					<input id="username" name="username" type="text" placeholder="格式6-24位数字字母组合" maxlength="24">
					<span></span>
				</div>
			</div>
			<div class="div_form clear ">
				<label>手机号：</label>
				<div class="input_div input_div5">
					<input id="cellphone" name="cellphone" type="text" placeholder="11位纯数字手机号" maxlength="24">
					<span></span>
				</div>
			</div>
			<div class="div_form clear ">
				<label>常用的邮箱帐号：</label>
				<div class="input_div input_div2" >
					<input id="mail" name="useremail"  type="text" placeholder="请填写正确的邮箱，以便接收账号激活邮件" maxlength="64">
					<span></span>
				</div>
			</div>
			<div class="div_form clear ">
				<label>请创建一个密码：</label>
				<div class="input_div input_div3">
					<input id="password1" name="userpass" type="password" placeholder="最少 8 个字符，区分大小写" maxlength="32">
					<span></span>
				</div>
			</div>
			<div class="div_form clear ">
				<label>重新输入密码：</label>
				<div class="input_div input_div4">
					<input id="password2" name="userpass2" type="password" placeholder="再次输入密码" maxlength="32">
					<span></span>
				</div>
			</div>
			
			<div class="div_form clear ">
				<label></label>
				<div class="input_div check2 input_div6" data="0" id="agreement">
					我已阅读并接受《四平广播电视台官网协议》
                    <span></span>
				</div>
			</div>
            
			<div class="div_form clear ">
				<label></label>
				<div class="input_div">
					<input id="btn" class="btn" type="button" value="注册" />
				</div>
			</div>
			
		</form>
		
		<div class="reg_login">
			<p>已有帐号？</p>
			<a class="btn2" href="/tologin/">登录</a>
		</div>
		<div class="bg"></div>
	</div>
	
	<!-- footer start -->
	<script type="text/javascript">

/* 
* 功能：判断用户输入的手机号格式是否正确 
* 传参：无 
* 返回值：true or false 
*/ 
function checkMobile(s) { 
	var regu = /^[1][0-9][0-9]{9}$/; 
	var re = new RegExp(regu); 
	if (re.test(s)) { 
		return true; 
	} else { 
		return false; 
	} 
}

$(function(){
	$(".btn").click(function(){
		var agreenMent=$("#agreement").attr("data");
		
		//alert(agreenMent);0
		var userName= $("#username").val();
		var cellPhone= $("#cellphone").val();
		var userPass= $("#password1").val();
		var userPass2=$("#password2").val();
		var userEmail=$("#mail").val();
		// var vercode =$("#varcode").val();
		
		userPass=$.trim(userPass);
		userPass2=$.trim(userPass2);
		
		$(".input_div1 span,.input_div2 span,.input_div3 span,.input_div4 span,.input_div6 span,.input_div5 span").html("");
		// $(".btn").val('注册中...').attr('disabled','disabled');
		
		if(!isRegisterUserName(userName)){
			$(".input_div1 span").html('<img src="/static/themes/images/v3/text_error.png"><font color=red>账户名格式不正确!</font>');
			$("#username").focus();
			$(".btn").val('注册').removeAttr('disabled');
			return false;
		}else if (!(checkMobile(cellPhone))){
			$(".input_div5 span").html('<img src="/static/themes/images/v3/text_error.png"><font color=red>手机号码不正确!</font>');
			$("#cellphone").focus();
			$(".btn").val('注册').removeAttr('disabled');
			return false;
		}
		else if(!isEmail(userEmail)){
			$(".input_div2 span").html('<img src="/static/themes/images/v3/text_error.png"><font color=red>邮箱格式不正确!</font>');
			$("#mail").focus();
			$(".btn").val('注册').removeAttr('disabled');
			return false;
		}else if(userPass.length <8){
			$(".input_div3 span").html('<img src="/static/themes/images/v3/text_error.png"><font color=red>密码格式不正确!</font>');
			$("#password1").focus();
			$(".btn").val('注册').removeAttr('disabled');
			return false;
		}else if(userPass != userPass2){
			$(".input_div4 span").html('<img src="/static/themes/images/v3/text_error.png"><font color=red>两次输入的密码不一致!</font>');
			$("#password2").focus();
			$(".btn").val('注册').removeAttr('disabled');
			return false;
		} else if(agreenMent != '1'){
			//$(".agreenment-tips").html('请先同意用户条款!').fadeIn();
			$(".input_div6 span").html('<img src="/static/themes/images/v3/text_error.png"><font color=red>请先同意用户条款!</font>');
			$(".btn").val('注册').removeAttr('disabled');
			return false;
		}else{
			$.ajax({
				url: '/regist/',
				type: 'POST',
				dataType: 'json',
				data: {'username':userName,'password':userPass,'cellphone':cellPhone,"email":userEmail},
				success:function(result){
					if (result['resCode'] == "1") {
						alert(result['resDesc']);
						location.href = "/index/";
					}else{
						alert(result['resDesc']);
					}
				},
			});
		}
				
	})
	
	$(".change").click(function(){
		$("#imgcode").attr('src','vercode');
	})
	
	$('.check2').click(function(){
		var rel = $('#agreement').attr("data");
		//alert(rel);
		if(rel =='1'){
			$('#agreement').attr("data","0");
		}else{
			$('#agreement').attr("data","1");
		}
		$('.check2').toggleClass("check1");
	});
	
});

function isRegisterUserName(s){  
	var patrn=/^[a-zA-Z0-9]{1}([a-zA-Z0-9]|[._]){5,19}$/;  
	if (!patrn.exec(s)) return false
	return true
}

function isEmail(email){
	   var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\-|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
	   if(!myreg.test(email)) return false;
		return true; 
 }

</script>

</body>
</html>
















