<div class="row flinks-row">
	<div class="row-con flinks">
		<h2>友情链接:</h2>
		<div class="cont">
			<ul>
				<li>
					<a href="#" target="_blank">
						<img src="/static/style/imgs/flinks1.png"/>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<img src="/static/style/imgs/flinks1.png"/>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<img src="/static/style/imgs/flinks2.png"/>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<img src="/static/style/imgs/flinks2.png"/>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<img src="/static/style/imgs/flinks1.png"/>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<img src="/static/style/imgs/flinks1.png"/>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<img src="/static/style/imgs/flinks2.png"/>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<img src="/static/style/imgs/flinks2.png"/>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<img src="/static/style/imgs/flinks1.png"/>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<img src="/static/style/imgs/flinks1.png"/>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<img src="/static/style/imgs/flinks2.png"/>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<img src="/static/style/imgs/flinks2.png"/>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<img src="/static/style/imgs/flinks1.png"/>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<img src="/static/style/imgs/flinks2.png"/>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<img src="/static/style/imgs/flinks2.png"/>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>