{% extends 'main.html' %}

 
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/style/css/common.css">
<script type="text/javascript" src="/static/style/js/jquery.js"></script>
<script type="text/javascript" src="/static/style/js/common.js"></script>
<link rel="stylesheet" type="text/css" href="/static/style/css/11.css">
<script type="text/javascript" src="/static/style/js/home.js"></script>
<script type="text/javascript" src="/static/style/js/loginForm.js"></script>
<link rel="stylesheet" type="text/css" href="/static/style/css/publicity.css">

<div class="main">
	<div class="banner">
		<div class="banner-con">
			{% for banner in response.banners%}
				{%if forloop.first %}
			<div id="{{banner.uri}}" class="banner-item " style="display: block; background:url(/static/media/banner/{{banner.image_path}}) center center;"></div>
			{%else%}
			<div id="{{banner.uri}}" class="banner-item " style="display: none; background:url(/static/media/banner/{{banner.image_path}}) center center;"></div>
			{%endif%}
				{%endfor%}
			<!-- <div class="banner-item " style="display: none; background:url(/static/style/imgs/banner0.png) center center;"></div>
		<div class="banner-item " style="display: none; background:url(/static//style/imgs/presenter.png) center center;"></div>
		<div class="banner-item " style="display: none; background:url(/static/style/imgs/banner0.png) center center;"></div>
		<div class="banner-item " style="display: none; background:url(/static/style/imgs/video.png) center center;"></div>
		-->
		</div>
		<div class="rolling-nav">
			{% for banner in response.banners%}
			 		{%if forloop.first %}
			<a data-id="0" href="javascript:void(0)" class="active"></a>
			{%else%}
			<a data-id="0" href="javascript:void(0)" ></a>
			{%endif%}
					{%endfor%}
				<!-- <a data-id="1" href="javascript:void(0)" class=""></a>
			<a data-id="2" href="javascript:void(0)" class=""></a>
			<a data-id="3" href="javascript:void(0)" class=""></a>
			-->
		</div>
	</div>
		<!-- 精品栏目 -->
		<div class="publicitys clearfix">
			<div class="title clearfix">	
				<h2 class="title-font">
					专栏宣传
					<span class="tit-slash">/</span>
					<span class="tit-en">PUBLICITY</span>
				</h2>
			</div>
			<div class="conts">
				{% for spgp in response.spgroup.object_list%}
				<div id="{{spgp.id}}" class="line-item clearfix spgroup">
					<div class="pic-cont">
						<a href="/jingpinlanmu/ntype={{spgp.id}}">
						<img src="/static/media/gonggao/{{spgp.image_path}}"/>
						</a>
					</div>
					<div class="text-cont" id="spgroup_right_{{spgp.id}}" >
						<ul>
							<li>
								<a>“点赞吉林*弘扬社会正能量”手机摄影大赛  <span class="pubdate">10-20</span></a>
							</li>
							<li>
								<a>“四平好人-最美小房任务”评选活动能够公告 <span class="pubdate">10-20</span></a>
							</li>
							<li>
								<a>“点赞吉林*弘扬社会正能量”手机摄影大赛  <span class="pubdate">10-20</span></a>
							</li>
							<li>
								<a>“四平好人-最美小房任务”评选活动能够公告 <span class="pubdate">10-20</span></a>
							</li>
							<li>
								<a>“点赞吉林*弘扬社会正能量”手机摄影大赛  <span class="pubdate">10-20</span></a>
							</li>
							<li>
								<a>“四平好人-最美小房任务”评选活动能够公告 <span class="pubdate">10-20</span></a>
							</li>
						</ul>
					</div>
				</div>
				{%endfor%}
				</div>




	
		<div class="pagebox clearfix">
			<ul>
				{% if response.news.has_previous %}
				<li>
					<a href="/sipingxinwen/?tag_search={{response.tag_search}}&page={{ response.news.previous_page_number }}" id="prev_page" target="_self">上一页</a>
				</li>
				{% endif %}
						{% for p in response.page_range %}
						{% ifequal p page_objects.number %}
				<li>
					<a href="/sipingxinwen/?tag_search={{response.tag_search}}&page={{p}}" target="_self"  id="pageNow" style="color:red;">{{p}}</a>
				</li>
				{% else %}
				<li>
					<a href="/sipingxinwen/?tag_search={{response.tag_search}}&page={{p}}" target="_self">{{p}}</a>
				</li>
				{% endifequal%}
						{% endfor %}
						{% if response.news.has_next %}
				<li>
					<a href="/sipingxinwen/?tag_search={{response.tag_search}}&page={{ response.news.next_page_number }}" id="next_page" target="_self">下一页</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){

		$(".banner-item").click(function(){
			window.open($(this).attr("id")); 
		})
		function initSpnews(ntype){
			$.ajax({
				url:"/getNewsList/?ntype="+ntype,
				type:"GET",
				success:function(data){
					var html = "";
					$.each(data.news,function(i,item){
						if(i<6){
							html +=	'<li>'+	
									'<a href="/jingpinzhanboitem/?nid='+item['id']+'" title="'+item['title']+'"><span class="pubdate">'+item['createtime']+'</span>'+item['title']+'</a>'+
								'</li>';
						}
					});
					$("#spgroup_right_"+ntype).find("ul").html(html);

				}
			});
		}
		$(".spgroup").each(function(item,val){
			// alert(val);
			var ntype = $(val).attr("id");
			initSpnews(ntype);
		})

		// $("#pageNow").css({"color":"red");
		// alert($("#pageNow"));
	});
</script>
{% endblock %}